@use '../../scss/' as *;

.menu-btn {
    display: none;
    font-size: 3.6rem;
    padding: 10px 14px;

    @include tablet {
        display: inline-flex;
    }
}

#mobile-menu-input {
    display: none;

    &:checked {
        ~ .overlay {
            display: block;
        }

        ~ .content {
            transform: translateX(0);
        }
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s linear;
    z-index: 999;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.content {
    z-index: 1000;
}

.info {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    padding: 32px 0 32px 20px;

    .avatar {
        border-radius: 50%;
        width: 96px;
        height: 96px;
    }

    .name {
        font-size: 1.6rem;
        font-weight: 500;
    }
}

.menu {
    @include flex(unset, unset, column);
    padding: 16px 0;
    border-bottom: 1px solid #ccc;

    &:last-child {
        border-bottom: unset;
    }

    .menu-item {
        display: grid;
        grid-template-columns: 1fr 26fr;
        align-items: center;
        column-gap: 1.4rem;
        text-align: left;
        padding: 20px 0 20px 20px;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 1.6rem;
        color: var(--black);
        background-color: var(--white);

        &:hover {
            background-color: rgba(66, 103, 178, 0.2);
        }
    }

    .active {
        color: var(--blue);
    }
}
