@use '../../scss/' as *;

.wrapper {
    @include flex(center, center, unset, 1.4rem);

    font-size: 1.6rem;
    font-weight: 500;
    font-family: $font-family;
    min-width: 124px;
    padding: 6px 28px;
    border-radius: 30px;
    cursor: pointer;
    background-color: $white;
    border: 1px solid transparent;
    user-select: none;

    + .wrapper {
        margin-left: 16px;
    }
}

/* Button Type */
.primary {
    background-color: $blue;
    color: $white;
    transition: opacity 0.3s ease;

    &:hover {
        opacity: 0.7;
    }
}

.outline {
    border: 1px solid $blue;
    color: $blue;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(66, 103, 178, 0.05);
    }
}

.rounded {
}

.small {
    min-width: 88px;
    padding: 4px 16px;
}
