@use '../../scss/' as *;

.wrapper {
    + .wrapper {
        margin-top: 20px;
    }

    .title {
        font-size: 1.8rem;
        letter-spacing: 1px;
        text-transform: capitalize;
        font-weight: 600;
    }
}

.filter-list {
    margin-top: 16px;

    .filter-item {
        @include flex(unset, center, row);

        + .filter-item {
            margin-top: 8px;
        }

        .text {
            margin-left: 8px;
            font-size: 1.4rem;
            color: var(--text-color);
        }
    }
}
