@use '../../../scss/' as *;

.wrapper {
    @include flex(unset, center, unset);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: var(--header-height);
    background-color: var(--white);
    box-shadow: var(--box-shadow);
    z-index: 999;
}

.active {
    color: var(--blue);
    border-bottom: 2px solid var(--blue);
}

.header-container {
    @include flex(space-between, center, unset);
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 15fr;
        column-gap: 2rem;
    }
    @include mobile {
        justify-content: center;
    }

    .menu {
        @include flex(unset, center, unset);
        @include tablet {
            display: none;
        }

        .menu-item {
            padding: 12px 16px;

            &:hover {
                color: var(--blue);
            }

            + .menu-item {
                margin-left: 7px;
            }
        }
    }

    .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        @include tablet {
            display: none;
        }
    }
}

.actions {
    @include flex(unset, center, unset);

    gap: 7px;

    @include tablet {
        justify-content: space-between;
    }

    .action-item {
        display: flex;

        @include tablet {
            display: none;
        }
    }

    @include mobile {
        .login-btn {
            display: none;
        }
    }
}

.action-cart {
    position: relative;
    padding: 10px;
    cursor: pointer;

    .action-icon {
        display: flex;
        font-size: 2.6rem;

        .count-cart {
            @include flex(center, center, unset);

            width: 16px;
            height: 16px;
            position: absolute;
            top: 8px;
            right: 6px;
            color: var(--white);
            background-color: red;
            font-size: 0.7rem;
            border-radius: 50%;
        }
    }
}

.popper-cart {
    width: var(--search-width);
    // animation: cropOut 0.2s cubic-bezier(0.4, 0, 0.6, 1);

    @keyframes cropOut {
        from {
            transform: scale(0);
        }

        to {
            transform: scale(1);
        }
    }

    .cart-title {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        padding: 0 8px 8px;
    }

    .cart-list {
        @include flex(unset, unset, column);
        margin-top: 4px;
    }
}

.action-avatar {
    padding: 10px;
    cursor: pointer;

    .avatar {
        width: 32px;
        height: 32px;
        position: relative;
        border-radius: 50%;
    }
}

.popper-user-menu {
    min-width: 230px;
    background-color: var(--white);
    box-shadow: var(--box-shadow)-popper;
    color: #1d2129;
    padding: 8px 24px;
    border-radius: 10px;
}

.popper-profile {
    @include flex(unset, center, unset);

    .popper-avatar {
        width: 52px;
        height: 52px;
        margin: 10px 0;
        border-radius: 50%;
        object-fit: cover;
    }

    .popper-info {
        @include flex(unset, unset, column);
        margin-left: 12px;

        .name {
            font-weight: 600;
        }

        .username {
            font-size: 1.4rem;
            color: #666;
        }
    }
}

.popper-actions {
    .action-item {
        min-width: 0;
        width: 100%;
        justify-content: flex-start;
        color: #666;
        padding: 8px 4px;
        font-size: 1.4rem;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            background-color: rgba(66, 103, 178, 0.2);
        }
    }
}
