@use '../../../scss/' as *;

.wrapper {
    @include flex(unset, center, unset, unset);

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: $header-height;
    background-color: $white;
    box-shadow: $box-shadow;
    z-index: 999;
}

.active {
    color: $blue;
    border-bottom: 2px solid $blue;
}

.header-container {
    @include flex(space-between, center, unset, unset);
    @include tablet {
        display: grid;
        grid-template-columns: 1fr 15fr;
        column-gap: 2rem;
    }
    @include mobile {
        justify-content: center;
    }

    .menu {
        @include flex(unset, center, unset, 0.7rem);
        @include tablet {
            display: none;
        }

        .menu-item {
            padding: 12px 16px;

            &:hover {
                color: $blue;
            }
        }
    }

    .logo {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 0);

        @include tablet {
            display: none;
        }
    }
}

.actions {
    @include flex(unset, center, unset, 0.7rem);

    @include tablet {
        justify-content: space-between;
    }

    .action-item {
        display: flex;

        @include tablet {
            display: none;
        }
    }

    @include mobile {
        .login-btn {
            display: none;
        }
    }
}

.action-cart {
    position: relative;
    padding: 10px;
    cursor: pointer;

    &:hover > * {
        color: $blue;

        ~ .popper-cart {
            display: block;
        }
    }

    .action-icon {
        display: flex;
        font-size: 2.6rem;

        &::before {
            content: '';
            width: 100px;
            height: 9px;
            position: absolute;
            top: 46px;
            right: -4px;
            background-color: transparent;
            z-index: 999;
        }

        .count-cart {
            @include flex(center, center, unset, unset);

            width: 16px;
            height: 16px;
            position: absolute;
            top: 8px;
            right: 6px;
            color: $white;
            background-color: red;
            font-size: 0.7rem;
            border-radius: 50%;
        }
    }

    .popper-cart {
        display: none;
        width: $search-width;
        position: absolute;
        top: 55px;
        right: -4px;

        .cart-title {
            font-size: 1.4rem;
            font-weight: 600;
            color: rgba(22, 24, 35, 0.5);
            padding: 0 8px 8px;
        }

        .cart-list {
            @include flex(unset, unset, column, 0.6rem);
            margin-top: 4px;
        }
    }
}

.action-avatar {
    padding: 10px;
    cursor: pointer;

    .avatar {
        width: 32px;
        height: 32px;
        position: relative;
        border-radius: 50%;
    }
}
