@use '../../../scss/' as *;

.wrapper {
    width: var(--search-width);
    margin-right: 16px;
    position: relative;

    @include tablet {
        width: 50%;
        margin-right: 0;
    }

    @include mobile {
        width: 100%;
        margin-right: 14px;
    }

    .search-input {
        width: 100%;
        padding: 12px 36px 12px 16px;
        font-size: 1.4rem;
        border: 1px solid #ccc;
        border-radius: 30px;
        z-index: 100;

        &:focus {
            border-color: var(--black);
        }

        @include tablet {
            padding-right: 44px;
        }
    }

    .clear,
    .loading {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 2rem;
    }

    .clear {
        display: flex;
        padding: 8px;
        color: var(--black);
        background-color: transparent;

        @include tablet {
            right: 2px;
        }

        &:hover {
            cursor: pointer;
            opacity: 0.6;
            background-color: transparent;
        }
    }

    .loading {
        right: 8px;
        animation: spinner 0.8s linear infinite;

        @include tablet {
            right: 10px;
        }
    }

    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }

        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

/* Popper */
.search-result {
    width: 100%;
    position: absolute;
    margin-top: 8px;

    .search-title {
        font-size: 1.4rem;
        font-weight: 600;
        color: rgba(22, 24, 35, 0.5);
        padding: 0 8px 8px;
    }

    .product-list {
        margin-top: 4px;
        @include flex(unset, unset, column);
    }
}
