@use '../../scss/' as *;

.product-item {
    @include flex(unset, center, unset, unset);

    padding: 6px 8px;

    &:hover {
        background-color: rgba(66, 103, 178, 0.2);
    }

    .image {
        width: 28%;
        height: 28%;
        border-radius: 4px;

        @include tablet {
            width: 18%;
            height: 18%;
        }
    }

    .image + .info {
        margin-left: 1rem;
    }

    .name {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .price {
        display: flex;
        font-size: 1.4rem;

        .new-price {
            color: red;

            + .old-price {
                margin-left: 1.2rem;
            }
        }

        .old-price {
            text-decoration: line-through;
            opacity: 0.5;
        }
    }

    .amount {
        font-size: 1.4rem;
    }
}
