@use '../../scss/' as *;

/* Slider item */
.slider-item {
    @include flex(unset, center, unset);
    height: calc(100vh - var(--header-height));
    max-height: 1080px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;

    @include tablet {
        height: auto;
        flex-direction: column-reverse;
    }
}

.info {
    flex: 0 0 60%;

    @include tablet {
        flex: 0 0 100%;
        text-align: center;
    }

    .title,
    .desc,
    .detail-btn {
        transform: translateY(-100%);
        transition: transform 1s ease;
    }

    .active {
        &.title,
        &.desc,
        &.detail-btn {
            transform: translateY(0);
        }
    }

    .title {
        font-size: 4.4rem;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 24px;
    }

    .desc {
        color: var(--text-color);
        margin-bottom: 36px;
    }

    .detail-btn {
        display: inline-block;
        width: 150px;
        height: 43px;

        @include tablet {
            padding: 10px 28px;
            width: 50%;
        }

        @include mobile {
            width: 100%;
        }
    }
}

.image-section {
    display: flex;
    justify-content: center;
    height: 120%;
    flex: 0 0 40%;
    padding-bottom: 40px;
    position: relative;
    margin-left: 20px;

    @include tablet {
        flex: 0 0 100%;
        margin-left: 0;
    }

    @include mobile {
        padding-bottom: 20px;
    }

    .image {
        height: 100%;
        z-index: 2;
        transform: scale(0) rotate(65deg);
        transition: transform 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        @include tablet {
            height: 60vh;
        }
    }

    .active {
        &.image {
            transform: scale(1) rotate(0);
        }
    }

    .shape {
        --size: 380px;
        width: var(--size);
        height: var(--size);
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
        animation: motive 4s infinite;
        z-index: 1;

        @include mobile {
            --size: 320px;
        }
    }

    @keyframes motive {
        0% {
            border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
        }

        50% {
            border-radius: 31% 69% 59% 41% / 28% 24% 76% 72%;
        }

        100% {
            border-radius: 58% 42% 38% 62% / 42% 55% 45% 58%;
        }
    }
}
